$teal-light: rgba(62, 163, 151, 0.3);
$teal: #3EA397;
$blue: #59A6C0;
$red: #E73137;
$silver: #F1F0F0;
$white: #FFFFFF;
$black: #000000;
$charcoal: #575756;
$brick: #E66559;
$gray: #CFCDCC;

 
$font-family: "Quicksand", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;


